# Env
.env
.env.local
*.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Node
node_modules/
.next/
out/
npm-debug.log*
yarn-error.log*

# Data
/data/
*.local

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/
